* {
  box-sizing: border-box;
  /* border: solid 1px red; */
}

:root {
  --star-wars-yellow: rgb(249,215,28);
}

.App {
  margin: 20px;
}

h1 {
  /* font-family: 'StarJedi Special Edition'; */
  font-family: 'Distant Galaxy';
  color: var(--star-wars-yellow);
}

body {
  background-color: black;
  color: white;
  font-size: 1.1em;
}

.panel {
  border: solid 1px var(--star-wars-yellow);
  border-radius: 15px;
  padding: 10px;
  height: calc(100vh - 100px);
}

.ships-panel {
  width: calc(30% - 5px);
  float: left;
  margin-right: 5px;
}

.pilot-list {
  padding-bottom: 0.5em;
}

.pilot-list-ship-type {
  font-style: italic;
  font-size: 1.1em;
  color: darkgray;
}

.pilot-list-pilots {
  padding-left: 1.5em;
}

.pilot-list-item {
  width: 100%;
  padding-top: 0.2em;
}

.pilot-list-item-name {

}

.pilot-list-item-cost {
  width: 4em;
  float: right;
}

.pilot-list-item-add {
  margin-left: 1em;
}

.squad-panel {
  float: left;
  width: 70%;
}

.ship-card {
  border: solid 1px gray;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ship-card-header {

}

.ship-card-initiative {
  color: orange;
  font-weight: bold;
}

.ship-card-pilot-name {

}

.ship-card-point-cost {
  color: lightskyblue;
}

@font-face {
  font-family: 'StarJedi Special Edition';
  src: local('StarJedi Special Edition'),
    url('./fonts/STJEDISE.TTF') format('truetype')
}

@font-face {
  font-family: 'Distant Galaxy';
  src: local('Distant Galaxy'),
    url('./fonts/SFDistantGalaxy.ttf') format('truetype')
}