* {
  box-sizing: border-box;
  /* border: solid 1px red; */
}

:root {
  --star-wars-yellow: rgb(249,215,28);
}

.App {
  margin: 20px;
  
}

h1 {
  /* font-family: 'StarJedi Special Edition'; */
  font-family: 'Distant Galaxy';
  color: var(--star-wars-yellow);
}

body {
  background-color: black;
  color: white;
  font-size: 1.1em;
}

.panel {
  border: solid 1px var(--star-wars-yellow);
  border-radius: 15px;
  padding: 15px;
  height: calc(100vh - 100px);
}

.ships-panel {
  width: calc(35% - 5px);
  max-width: 400px;
  float: left;
  margin-right: 5px;
}

.pilot-list {
  padding-bottom: 0.5em;
}

.pilot-list-ship-type {
  font-style: italic;
  font-size: 1.1em;
  color: darkgray;
}

.pilot-list-pilots {
  padding-left: 1.5em;
}

.pilot-list-item {
  width: 100%;
  padding-top: 0.2em;
}

.pilot-list-item-name {

}

.pilot-list-item-cost {
  width: 4em;
  float: right;
}

.pilot-list-item-add {
  margin-left: 1em;
}

.squad-panel {
  float: left;
  width: 65%;
  max-width: 800px;
}

.ship-card {
  border: solid 1px gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ship-card-header {
  border-bottom: solid 1px gray;
  padding: 5px;
  display: grid;
  grid-template-columns: 5em auto 30% 3em;
  font-size: 1.2em;
}

.ship-card-initiative {
  color: orange;
  font-weight: bold;
  text-align: center;
}

.ship-card-pilot-name {
  padding-left: 0.2em;
}

.ship-card-point-cost {
  color: lightskyblue;
}

.ship-card-remove {
  color: red;
  text-align: center;
}

.ship-card-body {
  padding: 5px;
}

.stat {
  padding-right: 1em;
}

.ship-card-stats-attack {
  color: firebrick;
}

.ship-card-stats-agility {
  color: forestgreen;
}

.ship-card-stats-hull {
  color: gold;
}

.ship-card-stats-shields {
  color: skyblue;
}

.ship-card-stats-force {
  color: purple;
}

@font-face {
  font-family: 'StarJedi Special Edition';
  src: local('StarJedi Special Edition'),
    url('./fonts/STJEDISE.TTF') format('truetype')
}

@font-face {
  font-family: 'Distant Galaxy';
  src: local('Distant Galaxy'),
    url('./fonts/SFDistantGalaxy.ttf') format('truetype')
}